<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

  <style>
    body {
      background-color: white;
      font-family: 'Basic Sans', 'Regular', 'sans-serif';
    }

    .container {
      margin: 20px auto;
      max-width: 300px;

      background-color: white;
      border: 0.5px solid lightgrey;
    }

    .container-footer {
      max-width: 300px;
      padding: 5px 0;
      text-align: center;
      background-color: #DFDED9;
      border: 0.5px solid #DFDED9;
    }

    .container-header {
      max-width: 300px;
    }

    .container-body {
      padding: 10px 0;
    }

    .body-text {
      font-size: 10px;
      color: #939392;
    }

    .body-text.bd {
      font-weight: bold;
    }

    .number-order {
      text-align: center;
      padding-bottom: 10px;
    }

    .number-text {
      font-size: 24px;
      color: #C3A97F;
      letter-spacing: 2.44px;
      margin: 0;
    }

    .box {
      border: 1px solid lightgrey;
      height: 125px;
      width: 280px;
    }

    .box-container {
      font-size: 9px;
      color: #939392;
    }

    .box-container.left {
      float: left;
      margin: 10px;
      padding-top: 10px;
      line-height: 1.3;
    }

    .cb {
      padding: 5px;
    }

    .box-container.right {
      margin: 21px 6px;
      float: right;
      font-size: 10px;
      line-height: 1.4;
    }

    .inside-box-left {
      margin: 0;
      text-align: center;
    }

    .inside-box-left.num {
      font-size: 28px;
    }

    .inside-box-left.time {
      font-size: 10px;
    }

    .inside-box-right {
      margin: 0;
      font-weight: bold;
    }

    .text-footer {
      font-size: 10px;
      color: #939392;
      margin: 0;
      text-decoration: none;
    }

    .text-footer.title {
      font-size: 15px;
      margin: 0;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="container-header">
      <img src="https://eunoiaqueue.azurewebsites.net/header.png" width="300" height="350">
    </div>
    <div class="container-body cb">
      <div>
        <p class="body-text bd">Thank you for being our loyal customer,</p>
        <p class="body-text">We are pleased to informed you that your reservation request has been received and
          confirmed.</p>
      </div>

      <div class="number-order body-text cb">
        <p>Your queue number</p>
        <p class="number-text"><%=queue_number%></p>
      </div>

      <div class="cb">
        <div class="box">
          <div class="box-container left">
            <p class="inside-box-left time"><%=day%></p>
            <p class="inside-box-left num"><%=day_number%></p>
            <p class="inside-box-left time"><%=month%></p>
            <hr style="width: 50%;">
            <p class="inside-box-left time"><%=time%></p>
          </div>
          <div class="box-container right">
            <p class="inside-box-right">Kumulo Place, The Breeze BSD</p>
            Eunoia x Tea Label Unit 12<br>
            The Breeze BSD City <br>
            Unit Lake Level / 77A and Outdoor <br>
            BSD Green Office Park, BSD City <br>
            Tangerang 15345
          </div>
        </div>
      </div>

      <div class="cb">
        <p class="body-text bd">Please note:</p>
        <p class="body-text">Be there 10 minutes before your reservation time</p>
      </div>
    </div>

    <div class="container-footer">
      <p class="text-footer title">Eunoia </p>
      <a href="www.eunoiastore.co" class="text-footer">www.eunoiastore.co</a>
    </div>
  </div>


</body>

</html>
